<?xml version="1.0"?>
<robot
  name="Hamr">
  <link
    name="Chassis">
    <inertial>
      <origin
        xyz="-9.39733204324347E-02 -5.48845250802898E-04 -0.379657560961688"
        rpy="0 0 0" />
      <mass
        value="1.15747214880841" />
      <inertia
        ixx="4.70744342698378E1"
        ixy="8.36468113557807E-4"
        ixz="2.27539055367251E-1"
        iyy="6.53313432247492E1"
        iyz="-3.07162872620023E-3"
        izz="9.56926443015291E1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
            filename="../meshes/Chassis.obj"
            scale="1000" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
 </link>
<!-- xyz="-9.39733204324347E-02 -5.48845250802898E-04 -0.379657560961688" -->

  <link
    name="FLS1">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="8.9854E-04" />
      <inertia
        ixx="4.0531E-4"
        ixy="0"
        ixz="0"
        iyy="1.8583E-4"
        iyz="-1.1771E-5"
        izz="2.281E-4" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FLS1.obj" 
            scale="1000" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint
    name="FLqsact"
    type="prismatic">
    <origin
      xyz="13.284659815390 1.456684126580 -0.478250429210"
      rpy="0 0 0" />
    <parent
      link="Chassis" />
    <child
      link="FLS1" />
    <axis
      xyz="0 1 0" />
    <limit lower="-0.3" upper="0.3" />
    <dynamics damping="0.01" />
  </joint>
  <link
    name="FLS2">
    <inertial>
      <origin
        xyz="0 3.8176 1.3953"
        rpy="0 0 0" />
      <mass
        value="7.2648E-03" />
      <inertia
        ixx="3.894E-2"
        ixy="0"
        ixz="0"
        iyy="8.899E-3"
        iyz="-9.1382E-3"
        izz="3.0111E-2" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FLS2.obj" 
            scale="1000" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint
    name="FLqs1"
    type="revolute">
    <origin
      xyz="0 0.77116874934 0.12648211488"
      rpy="0 0 0" />
    <parent
      link="FLS1" />
    <child
      link="FLS2" />
    <axis
      xyz="0 0 1" />
    <!--<limit lower="-pi/3" upper="pi/3" /> -->
    <dynamics damping="2.804E-2" />
   </joint>
  <link
    name="FLS3">
    <inertial>
      <origin
        xyz="0.70289 -8.6332E-02 0.10242"
        rpy="0 0 0" />
      <mass
        value="3.889E-03" />
      <inertia
        ixx="2.6158E-3"
        ixy="-5.7753E-4"
        ixz="-3.2642E-4"
        iyy="4.7809E-3"
        iyz="-8.2188E-5"
        izz="3.1897E-3" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FLS3.obj" 
            scale="1000" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
  <joint
    name="FLqs2"
    type="revolute">
    <origin
      xyz="0 7.44214712409 2.06176831433"
      rpy="0 0 0" />
    <parent
      link="FLS2" />
    <child
      link="FLS3" />
    <axis
      xyz="0 0 1" />
    <!--<limit lower="-pi/3" upper="pi/3" />-->
    <dynamics damping="1.657E-2" />
  </joint>
 <link
    name="FLS4">
    <inertial>
      <origin
        xyz="1.4605 1.8371 3.0882"
        rpy="0 0 0" />
      <mass
        value="1.4269E-02" />
      <inertia
        ixx="1.206E-1"
        ixy="3.2785E-2"
        ixz="-2.9892E-2"
        iyy="8.3598E-2"
        iyz="2.1738E-2"
        izz="9.8829E-2" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FLS4.obj"
            scale="1000" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint
    name="FLqfb1"
    type="revolute">
    <origin
      xyz="1.52236486487 0.12 -1.25"
      rpy="0 0 0" />
    <parent
      link="FLS3" />
    <child
      link="FLS4" />
    <axis
      xyz="1 0 0" />
    <!--<limit lower="-pi/3" upper="pi/3" />-->
    <dynamics damping="1.914E-2" />
  </joint> 
  <link
    name="FLL1">
    <inertial>
      <origin
        xyz="-0.2102 2.5512 -5.7375E-02"
        rpy="0 0 0" />
      <mass
        value="4.5174E-03" />
      <inertia
        ixx="1.0604E-2"
        ixy="9.467E-4"
        ixz="4.1692E-4"
        iyy="2.5227E-3"
        iyz="-2.6756E-4"
        izz="1.0642E-2" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FLL1.obj"
            scale="1000" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint
    name="FLqlact"
    type="prismatic">
    <origin
      xyz="10.504659815390 3.151779821480 -0.501688531240"
      rpy="0 0 0" />
    <parent
      link="Chassis" />
    <child
      link="FLL1" />
    <axis
      xyz="0 1 0" />
    <limit lower="-0.3" upper="0.3" />
    <dynamics damping="0.01" />
   </joint>
  <link
    name="FLL2">
    <inertial>
      <origin
        xyz="0 0.95907 0"
        rpy="0 0 0" />
      <mass
        value="1.6211E-03" />
      <inertia
        ixx="9.976E-4"
        ixy="0"
        ixz="0"
        iyy="2.561E-3"
        iyz="0"
        izz="3.5431E-3" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FLL2.obj"
            scale="1000" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>/
  </link>
  <joint
    name="FLql1"
    type="revolute">
    <origin
      xyz="0 4.57322017852 0.38168853124"
      rpy="0 0 0" />
    <parent
      link="FLL1" />
    <child
      link="FLL2" />
    <axis
      xyz="1 0 0" />
    <!--<limit lower="-pi/3" upper="pi/3" />-->
    <dynamics damping="6.366E-2" />
  </joint>
  <link
    name="FLL3">
    <inertial>
      <origin
        xyz="0.11652 -7.2167E-02 -0.5651"
        rpy="0 0 0" />
      <mass
        value="4.2308E-03" />
      <inertia
        ixx="2.4566E-3"
        ixy="-9.4738E-5"
        ixz="3.1854E-4"
        iyy="5.8098E-3"
        iyz="4.7676E-4"
        izz="4.4079E-3" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FLL3.obj"
            scale="1000" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint
    name="FLql2"
    type="revolute">
    <origin
      xyz="0 1.945 0"
      rpy="0 0 0" />
    <parent
      link="FLL2" />
    <child
      link="FLL3" />
    <axis
      xyz="1 0 0" />
    <!--<limit lower="-pi/3" upper="pi/3" />-->
    <dynamics damping="1.657E-2" />
  </joint>
  <link
    name="FLL4">
    <inertial>
      <origin
        xyz="-2.4877 1.5376 -1.509"
        rpy="0 0 0" />
      <mass
        value="1.3954E-02" />
      <inertia
        ixx="9.0239E-2"
        ixy="-1.1755E-2"
        ixz="-2.5436E-2"
        iyy="8.3778E-2"
        iyz="-2.6868E-2"
        izz="1.2261E-1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FLL4.obj"
            scale="1000" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint
    name="FLqfb3"
    type="revolute">
    <origin
      xyz="2.25 0.12 -1.07"
      rpy="0 0 0" />
    <parent
      link="FLL3" />
    <child
      link="FLL4" />
    <axis
      xyz="0 0 1" />
    <!--<limit lower="-pi/3" upper="pi/3" />-->
    <dynamics damping="1.657E-2" />
  </joint>
  <link
    name="FLLeg">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="1.6993E-02" />
      <inertia
        ixx="2.0657E-1"
        ixy="9.954E-6"
        ixz="-1.1711E-5"
        iyy="1.0894E-1"
        iyz="9.3123E-2"
        izz="9.8198E-2" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Leg.obj"
            scale="1000" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
      <collision>
          <origin xyz="0 2.93632594836 -6.04673961322"/>
          <geometry>
              <sphere radius="0" />
          </geometry>
      </collision>
    </link>
  <joint
    name="FLLegJoint"
    type="fixed">
    <origin
      xyz="6E-02 4.64367405164 -4.80326038678"
      rpy="0 0 0" />
    <parent
      link="FLL4" />
    <child
      link="FLLeg" />
    <axis
      xyz="0 0 0" />
  </joint>














  <!--- Loop Joints -->

  <loop_joint name="FLqs3" type="continuous">
    <axis xyz="0 0 1" />
    <link1 link="Chassis" rpy="0 0 0" 
      xyz="12.754659815390  9.790000000000   1.710000000000" />
    <link2 link="FLS3" rpy="0 0 0" xyz= "-0.53, 0.12, 0.0" />
  </loop_joint>

  <loop_joint name="FLql3" type="continuous">
    <axis xyz="1 0 0" />
    <link1 link="Chassis" rpy="0 0 0"
        xyz="10.504659815390  9.790000000000   0.460000000000"/>
    <link2 link="FLL3"  rpy="0 0 0" xyz= "0.0, 0.12, 0.58"/>
  </loop_joint>

  <loop_joint  name="FLqfb2"  type="continuous">
    <axis xyz="0 1 0" />
    <link1 link="FLS4" rpy="0 0 0" 
      xyz="-2.05236472111 5.98079552649 0.0"/> 
    <link2 link="FLL4" rpy="0 0 0"
      xyz="0.0 5.98079552649 1.64999985615" />
  </loop_joint>

  











<!-- Swing Springs -->

<force_element name="FL_ks1">
  <torsional_spring stiffness="9.2E-2" rest_angle="0">
  	<joint name="FLqs1" />
   </torsional_spring>
 </force_element>

 <force_element name="FL_ks2">
  <torsional_spring stiffness="3.4E-2" rest_angle="0">
  	<joint name="FLqs2" />
   </torsional_spring>
 </force_element>

<!--Lift Springs -->

<force_element name="FL_kl1">
  <torsional_spring stiffness="2E-1" rest_angle="0">
  	<joint name="FLql1" />
   </torsional_spring>
 </force_element>

 <force_element name="FL_kl2">
  <torsional_spring stiffness="3.4E-2" rest_angle="0">
  	<joint name="FLql2" />
   </torsional_spring>
 </force_element>

<!--SFB Springs -->

 <force_element name="FL_kfb1">
  <torsional_spring stiffness="6E-2" rest_angle="0">
  	<joint name="FLqfb1" />
   </torsional_spring>
 </force_element>

 <force_element name="FL_kfb3">
  <torsional_spring stiffness="3.4E-2" rest_angle="0">
  	<joint name="FLqfb3" />
  </torsional_spring>
 </force_element>










 <!-- Actuator Springs --> 

  <force_element name="FL_ksact">
    <prismatic_spring stiffness="1.1556" rest_length="0">
      <joint name="FLqsact" />
    </prismatic_spring>
  </force_element>

  <force_element name="FL_klact">
     <prismatic_spring stiffness="2.3452" rest_length="0">
      <joint name="FLqlact" />
    </prismatic_spring>
  </force_element>









<!--- Actuator Inputs -->

<transmission type="SimpleTransmission" name="FLSwing">
    <actuator name="FLsact" />
    <joint name="FLqsact" />
    <mechanicalReduction>1</mechanicalReduction>
</transmission>

<transmission type="SimpleTransmission" name="FLLift">
    <actuator name="FLlact" />
    <joint name="FLqlact" />
    <mechanicalReduction>1</mechanicalReduction>
</transmission>
    
</robot>
