*.idea
*.autosave
*.mex*
*.exp
*.pdb
*.lib
*.ilk
*.o
*.aux
*.log
*.bbl
*.blg
*.bk
*.tmp
*.d
*.toc
*.class
*.snm
*.nav
*~
uname.err
!externals/install_prereqs.sh
drake/util/drake_config.mat
drake/doc/derivations/elib.bib
drake/.python
drake/examples/Quadrotor/funLib.mat
drake/examples/Quadrotor/trajectoryLibrary.mat
fort.*
*.aux
.drake_unit_test_mutex.mat
.unitTestData.mat
debug.txt
stepping.mat
walking.mat
drake/doc/DoxygenMatlab/html
.viewer-prefs
.matlabroot
*.dSYM
data_t.java
drake/util/test/debugMexTest_mexdebug.mat
*_mexdebug.mat
*.class
tmp_w.mat
bin
drake.jar
*.out
pod-build
build
cmake-build-*
mlint_output.html
.#*
VALGRIND_OUTPUT.xml
*.ppms.gz
glider_trajs.mat
results_testRunning.mat
drake/doc/DoxygenCPP
*.bak
Pendulum.pmd
drake/doc/_build
bazel-*
xcode

drake/examples/HAMR-URDF/dev/

drake/examples/HAMR-URDF/Trajectories/

drake/examples/HAMR-URDF/TrajOpt_21-Sep-2017 17:16:44\.mat

drake/examples/HAMR-URDF/TrajOpt_21-Sep-2017\.mat

drake/examples/HAMR-URDF/TrajOpt_25-Sep-2017 12:27:05\.mat

drake/examples/HAMR-URDF/TrajOpt_25-Sep-2017 12:49:26\.mat

drake/examples/HAMR-URDF/TrajOpt_25-Sep-2017 13:18:01\.mat

drake/examples/HAMR-URDF/TrajOpt_25-Sep-2017 13:29:32\.mat

drake/examples/HAMR-URDF/TrajOpt_25-Sep-2017 14:11:32\.mat

drake/examples/HAMR-URDF/TrajOpt_25-Sep-2017 14:59:15\.mat

drake/examples/HAMR-URDF/TrajOpt_25-Sep-2017 15:06:10\.mat

drake/examples/HAMR-URDF/TrajOpt_25-Sep-2017 15:38:30\.mat

drake/examples/HAMR-URDF/TrajOpt_25-Sep-2017 16:44:55\.mat
